<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topic Talk</title>
    <link  rel="stylesheet" href="/styles/styleW.css">
</head>
<body>
  <div class="background-img">
    <div class="main-container">
      <div class="golden-leaf leaf-one"></div>
      <div class="golden-leaf leaf-two"></div>
        <div class="content-div">
          <div class="text-div">
            <h1>Welcome <br/>To <br/> Topic Talk</h1>
          </div>
          <form action="/home" method="get">
            <input type="submit" class="continiue-btn" value="Continue">
          </form>
        </div>
    </div>
  </div>
</body>
</html>
